@model IEnumerable<Web.Models.HotelReservationViewModel>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelReservationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPersons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelReservationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelId)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.NumberOfPersons)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.StartDate)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.EndDate)
            </th>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.HotelReservationId })
            </td>
        </tr>
    }
</table>

