@model IEnumerable<Web.Models.HotelViewModel>

@{
    ViewBag.Title = "Hotels";
}

<h2>Tours</h2>

@if (User.Identity.IsAuthenticated && (User.IsInRole("manager") || User.IsInRole("admin")))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("manager") || User.IsInRole("admin")))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                @Html.ActionLink("Reserve", "Create", "HotelReservation", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>

